.btn {
  background: #333;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-style: unset;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: #f4d03f;
}
