/* Hero Section */
.hero {
  background: url("../images/bg-header.webp") no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
}

.hero__text {
  flex: 1;
}

.hero__text h1 {
  font-size: 4rem;
  font-family: "Reey";
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.hero__text h2 {
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hero__text p {
  font-size: 1rem;
  font-family: "Open Sans";
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hero__text .btn {
  display: inline-block;
  background: #fff;
  color: #343434;
  padding: 0.3rem 1.5rem;
  border-radius: 12px;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 800;
  transition: 0.3s;
}

.hero__text .btn:hover {
  background: #f4d03f;
}

.hero__image {
  flex: 1;
  text-align: right;
  padding-top: 10rem;
}

.hero__image img {
  max-width: 500px;
  width: 100%;
}

/* About Section */
.about {
  background: #fff;
  padding: 5rem 2rem;
  text-align: center;
}

.about__content {
  max-width: 900px;
  margin: 0 auto;
}

.about__content h2 {
  font-size: 3rem;
  font-family: "Reey";
  margin-bottom: 1.5rem;
  color: #000;
}

.about__content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.plates {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 3rem;
  font-family: "Open Sans";
}

.plates img {
  width: 70%;
  height: auto;
}

.about__btn {
  margin-top: 3rem;
  color: #fff;
}

.information {
  background: #27292c;
  padding: 5rem 2rem;
  text-align: center;
}

.information h2 {
  font-family: "Reey";
  font-size: 3rem;
  color: #fff;
  margin-bottom: 3rem;
}

.info__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 4rem;

  color: #fff;
}

.info__description p {
  margin: auto 7rem;
  text-align: start;
  font-family: "Open Sans";
}

.information .btn {
  background: #fff;
  color: #343434;
  padding: 0.7rem 2.5rem;
  border-radius: 18px;
}

.information .btn:hover {
  background: #f4d03f;
}

.discounts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.discounts__text {
  margin: 10rem 10rem 10rem 0;
}

.discounts__text2 {
  margin: 10rem 0 10rem 10rem;
}

.discounts__text p,
.discounts__text2 p {
  margin: 1rem 0 2rem 0;
}
